<!DOCTYPE html>
<Html>
    <head>
        <title>Travel Info-Door</title>
        <!-- CSS only -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" >
        <link rel="stylesheet" href="/stylesheets/main.css">
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="/" class="navbar-brand">Travelogue</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <% if(!currentUser){ %>
                            <li><a href="/register">Sign up</a></li>
                            <li><a href="/login">Login</a></li>    
                        <% } else { %>
                            <li><a href="#">Signed in as <%= currentUser.username %></a></li>
                            <li><a href="/logout">Logout</a></li>
                        <% } %>
                    </ul> 
                </div>
            </div>
        </nav>
        <div class="container">
            <% if(error && error.length>0){ %>
                <div class="alert alert-danger" role="alert">
                    <h4><%= error %></h4>
                </div>
            <% } %>
            <% if(success && success.length>0){ %>
                <div class="alert alert-success" role="alert">
                    <h4><%= success %></h4>
                </div>
            <% } %>
        </div>
        <div class="container">
            <div class="row">
                <h1 style="text-align: center;">Edit <%= campground.name %></h1>
                <div style="width: 30%; margin: 25px auto;">
                    <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST">
                        <div class="form-group">
                            <input class = 'form-control' type="text" name = 'campground[name]' value="<%= campground.name %>">
                        </div>
                        <div class="form-group">
                            <input class = 'form-control' type="Number" name = 'campground[price]' value = '<%= campground.price %>' min = '0.01' step = '0.01'>
                        </div>
                        <div class="form-group">
                            <input class = 'form-control' type="text" name = 'campground[image]' value="<%= campground.image %>">
                        </div>
                        <div class="form-group">
                            <input class = 'form-control' type="text" name = 'campground[description]' value="<%= campground.description %>">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-lg btn-primary btn-block">Submit</button>
                        </div>
                        
                    </form>
                    <a href="/campgrounds">Go back</a>

                </div>
            </div>
        </div>
        
        

       
    </body>
</Html>


